@import 'vendor.css' layer(theme);
@import 'overrides.css' layer(theme);

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

[x-cloak] {
    display: none;
}

@layer tailwind-base {
    [type='text']:focus, input:where(:not([type])):focus,
    [type='email']:focus,
    [type='url']:focus,
    [type='password']:focus,
    [type='number']:focus,
    [type='date']:focus,
    [type='datetime-local']:focus,
    [type='month']:focus,
    [type='search']:focus,
    [type='tel']:focus,
    [type='time']:focus,
    [type='week']:focus,
    [multiple]:focus,
    textarea:focus,
    select:focus {
        --tw-ring-color: var(--p-primary-color);
        border-color: var(--tw-ring-color);
    }
}
